<header>
  <div class="banner">
    <div class="sigh">
      {% include day_html %}
    </div>
  </div>
  <nav>
    <ul>
      <li class="nav-item"><span>Article</span></li>
      <li class="nav-item"><span>Gallery</span></li>
      <li class="nav-item"><span>Board</span></li>
      <li class="nav-item"><span>About</span></li>
    </ul>
  </nav>
</header>